@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat', Arial, sans-serif;
}
body {
    background-image: url(./img/y-so-serious.png);
}

.bg-light {
    background-color: rgb(190, 190, 185)!important;
}